<style>
    button {
        padding: 5px;
        background: rgb(200, 200, 200);
        border: 1px solid rgb(122, 122, 122);
        border-radius: 2px;
        outline: none;
        width:120px;
        height:120px;
        font-size:15px
    }
    button.active, button:active {
        background: rgb(100, 100, 100);
        border: 1px solid rgb(0,0,0);
        box-shadow: 0 0 2px 0 rgb(0,0,0);
    }
    div#kick{
        width:130px;
        height:600px;
        float:left;
    }
    #snare{
        width:130px;
        height:600px;
        float:left;
    }
    #hihat{
        width:130px;
        height:600px;
        float:left;
    }
    input.volume {
        width:120px;
        height:10px;
    }
</style>